.my-icon {
  transition: color 0.3s; /* 平滑过渡效果 */
}

.my-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.width-resp {
  width: 80%;
}

@media (min-width: 1601px) {
  .width-resp {
    width: 1536px;
  }
}

.div-card {
  border: 2px solid var(--border-color, #000); /* 使用CSS变量，默认为黑色 */
  transition: border-color 0.5s ease;
}

.div-card:hover {
  border: 2px solid var(--hover-color, #000); /* 使用CSS变量，默认为黑色 */
}
